.fondo {
    background-image: url('assets/imagenes/img1.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.fondoA {
    background-image: url('assets/imagenes/img3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.fondoAc {
    background-image: url('assets/imagenes/img5.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}